###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*~
.project
.buildpath
.settings/
###< IDE ###

###> OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
###< OS ###

###> Composer ###
composer.phar
###< Composer ###

###> Node (si frontend ajouté) ###
/node_modules/
npm-debug.log
yarn-error.log
###< Node ###
